<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <ul class="products">
    <li class="product">
      <img src="/box.png" alt="box product icon">
      <h4>Smartphone Pro</h4>
      <p>64GB, 6.5-inch display, Dual camera</p>
    </li>
    <li class="product">
      <img src="/box.png" alt="box product icon">
      <h4>Ultra Laptop</h4>
      <p>Intel i7, 16GB RAM, 512GB SSD</p>
    </li>
    <li class="product">
      <img src="/box.png" alt="box product icon">
      <h4>Tablet Plus</h4>
      <p>10-inch display, 128GB, Wi-Fi</p>
    </li>
    <li class="product">
      <img src="/box.png" alt="box product icon">
      <h4>Smartwatch</h4>
      <p>Heart rate monitor, GPS, 5-day battery</p>
    </li>
    <li class="product">
      <img src="/box.png" alt="box product icon">
      <h4>Wireless Earbuds</h4>
      <p>Noise-cancelling, 20-hour playtime</p>
    </li>
    <li class="product">
      <img src="/box.png" alt="box product icon">
      <h4>Gaming Console</h4>
      <p>4K HDR, 1TB Storage, Wireless controller</p>
    </li>
  </ul>
</body>
</html>
